<header>
    <a href="#"><h1 class="site-title"><i class=""></i>My Media List</h1></a>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem activepage" id="home"><a href="#">Home</a></li>
	      <li class="navitem" id="listedsalaries"><a href="index.html">Listed Salaries</a></li>
	      <li class="navitem" id="newsalary"><a href="newsalary.html">New Salary</a></li>

        <li class="navbar-search">
          <input type="text" id="searchinput" placeholder="Search...">
		      <button type="button" class="button" id="searchbutton">Go!</button>
        </li>
    </nav>
</header>
