{{#data}}
<div class="pay">
  <div class="name flexcontent">{{name}}</div>
  <div class="position flexcontent">{{position}}</div>
  <div class="yearincome flexcontent">{{yearincome}}</div>
</div>
{{/data}}