
      <header id="header" >

   <a href="#"><h1 id="title">Salarycalc
         <img src="pencil.svg" id="pencil"></img></h1>
   </a>

   <nav class="navbar">
      <ul class="navlist">
         <li class="navitem" id="home"><a href="/home">Home</a></li>
         <li class="navitem" id="listedsalaries"><a href="/">Listed Salaries</a></li>
         <li class="navitem" id="newsalary"><a href="newsalary">New Salary</a></li>

   </nav>

      </header>
    <main class="error-page">
      <h2>404</h2>
      <h3>Page not found.</h3>
    </main>



<!--       <textboxes id="textboxes">
        Do you wonder if your getting paid enough for your work? Do you wonder what your coworkers get paid but dont want to start an office fight about who gets paid what and why? Salarycalc is a free web application that allows you and your colleges to post     their yearly pay and position under an anonymous or real name. Now you and your coworkers will have the upper hand in wage    negotion that you all deserve!
      </textboxes> -->
