
      <header id="header" >

	 <a href="#"><h1 id="title">Salarycalc
	       <img src="pencil.svg" id="pencil"></img></h1>
	 </a>

	 <nav class="navbar">
	    <ul class="navlist">
	       <li class="navitem" id="home"><a href="home">Home</a></li>
	       <li class="navitem" id="listedsalaries"><a href="/">Listed Salaries</a></li>
	       <li class="navitem activepage" id="newsalary activepage"><a href="#">New Salary</a></li>

	 </nav>

      </header>

      <textboxes id="fieldbox">



      <div class="field">
	 Name:
	 <input type="text" id="searchinput" name="name" placeholder="Please Fill">
      </div>
      <div class="field">
	 Position:
	 <input type="text" id="searchinput" name="position" placeholder="Please Fill">
      </div>
      <div class="field">
	 Monthly Salary:
	 <input type="text" id="searchinput" name="monthlySalary" placeholder="">
      </div>
      -or-
      <div class="field">
	 Hourly Wage:
	 <input type="text" id="searchinput" name="hourlySalary" placeholder="">
      </div>
        <button type="button" id="btn-cancel">Cancel</button>
        <button type="button" id="btn-submit">Create</button>
      </textboxes>
		<script src="./jquery-3.2.1.min.js"></script>
		<script src="./newsalary.js"></script>