
   <main>

      <header id="header" >

	 <a href="#"><h1 id="title">Salarycalc
	       <img src="pencil.svg" id="pencil"></img></h1>
	 </a>

	 <nav class="navbar">
	    <ul class="navlist">
	       <li class="navitem" id="home"><a href="/homePage">Home</a></li>
	       <li class="navitem" id="listedsalaries"><a href="/payPage">Listed Salaries</a></li>
	       <li class="navitem activepage" id="newsalary activepage"><a href="#">New Salary</a></li>

	 </nav>

      </header>

      <textboxes id="fieldbox">

      <div class="field">
	 Name:
	 <input type="text" id="searchinput" placeholder="Please Fill">
      </div>
      <div class="field">
	 Position:
	 <input type="text" id="searchinput" placeholder="Please Fill">
      </div>
      <div class="field">
	 Monthly Salary:
	 <input type="text" id="searchinput" placeholder="">
      </div>
      -or-
      <div class="field">
	 Hourly Wage:
	 <input type="text" id="searchinput" placeholder="">
      </div>

      <button type="button" class="button" id="createbutton">Create!</button>

      </textboxes>

   </main>

