
<main>

<header id="header" >

<a href="#"><h1 id="title">Salarycalc
<img src="pencil.svg" id="pencil"></img></h1>
</a>

<nav class="navbar">
<ul class="navlist">
<li class="navitem" id="home"><a href="/homePage">Home</a></li>
<li class="navitem activepage" id="listedsalaries"><a href="#">Listed Salaries</a></li>
<li class="navitem" id="newsalary"><a href="/newSalary">New Salary</a></li>

<li class="navsearch">
<input type="text" id="searchinput" placeholder="Search...">
<button type="button" id="searchbutton">Go!</button>
</li>

</nav>

</header>

<payboxes id="payboxes">

{{#each salary}}

{{>salaryPost}}

{{/each}}

</payboxes>

</main>
